@font-face {
    font-family: Habita;
    src: url(../fonts/Habita.otf);
}

@font-face {
    font-family: louisgeorge;
    src: url(../fonts/Louis\ George\ Cafe\ Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: louisgeorge;
}

.navbar {
    background-color: #997667;
}


.jumbotron {
    background-image: url(../imagenes/jumbotron.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
}

body {
    background-color: #f5f5dc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../imagenes/fondo.jpg);
}

h1 {
    font-family: Habita;
    text-align: center;
    font-size: 100px;
}

footer {
    background-color: #997667;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}

.redes {
    margin-top: 10px;
}

.redes a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.redes a:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.redes a img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.inicio {
    font-size: 25px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
}

.nosotros {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.texto-nosotros {
    color: #fff;
    width: 90%;
    background-color: #4D2C26;
    border: 5px solid black;
    padding: 20px;
    text-align: center;
}

.carousel {
    width: 100%;
    margin-top: 20px;
}

.productos {
    display: flex;
    justify-content: space-evenly;
}

.producto {
    width: 250px;
    min-height: 350px;
    background-color: #4D2C26;
    text-align: center;
    padding: 15px;
    border-radius: 7px;
}

.producto:hover {
    box-shadow: 0 0 5px 5px #000;
    transform: scale(1.09);
    transition: all 1.1s;


}

.producto-img1 {
    background-image: url(../imagenes/alimentoperro.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
}

.producto-img2 {
    background-image: url(../imagenes/alimentogato.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
}

.producto-img3 {
    background-image: url(../imagenes/ropa.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
}

.producto-img4 {
    background-image: url(../imagenes/juguete.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
}


.producto-nombre {
    font-size: 30px;
    color: #f5f5dc;
    text-shadow: 2px 2px 5px #000;
}

.producto p {
    padding: 20px;
    font-weight: 600;
    color: white
}

@media (max-width: 767px) {
    .productos {
        flex-direction: column;
        align-items: center;
    }

    .producto {
        margin-bottom: 20px;
    }
}

    @media (max-width: 1023px) {
        .productos {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }



.formulario {
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.form-titulo {
    font-size: 2rem;
    margin-bottom: 5em;
}

.form-p {
    font-weight: 300;
}

.form-container {
    margin-top: 3em;
    display: grid;
    gap: 2, 5em;
}

.form-group {
    position: relative;
    --color: #5757577e;
}

.form-input {
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}

.form-input:not(:placeholder-shown) {
    color: #4d4646;
}

.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #4D2C26;
}

.form-label {
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form-submit {
    background: #4D2C26;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #4D2C26;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form-input:focus~.form-label,
.form-input:not(:placeholder-shown)~.form-label {
    transform: scale(1);
}

@media (max-width:425px) {

    .form-titulo {
        font-size: 1.8rem;
    }

}

.uyh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ajusta la altura según tus necesidades */
}

.horarios {
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ubicacion {
    margin: 20px;
    text-align: center;
}

.ubicacion iframe {
    width: 100%;
    height: 100%;
    max-width: 600px;
    /* Ajusta el tamaño máximo según tus necesidades */
}


.horarios,
.ubicacion {
    margin: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 4px solid black;
}

th,
td {
    border: 4px solid black;
    padding: 10px;
}

.formulario {
    margin: 50px auto;
    width: 80%;
    border: 2px solid black;
    padding: 20px;
}

fieldset label,
fieldset input {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .container {
        padding: 10px;
    }

    .horarios {
        margin: 10px;
    }
}


